/.catkin_workspace
/build/
/devel/
/install/

/radar_slam.tar
/*.tar
/*.tar.gz

/data/*
!/data/.gitkeep

/rosbag/*
!/rosbag/.gitkeep

/src/radar_slam/
/src/radar_lidar_static_calibration/

**/.DS_Store
**/.idea/
**/.vscode/
